<%- include('./partials/header.ejs') %>
    <main class="index">

        <header class="nav_bar d-flex align-items-center justify-content-end">
            <a href="/logout"
                class="logout_btn text-white d-flex align-items-center justify-content-center mr-5">Logout</a>
        </header>
        <h1 class="text-white text-center text-uppercase mt-3 mb-4">my projects</h1>
        <div class="container-fluid">
            <div class="row">
                <div
                    class="col col-12 col-3 col-md-4 col-lg-3 col-sm-6 col-xs-12  d-flex align-items-center justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="https://www.hostinger.com/tutorials/wp-content/uploads/sites/2/2021/08/how-to-make-an-online-portfolio.webp"
                            alt="" class="card-img-top" style="height: 160px;">
                        <div class="card-body">
                            <h5 class="card-title">Portfolio</h5>
                            <p class="card-text">This is My Portfolio Website Creating with html css js and bootstrap
                            </p>
                            <a href="" class="btn btn-primary">Checkout</a>
                        </div>
                    </div>
                </div>
                <% datas.forEach((data)=>{ %>
                    <div
                        class="col col-12 col-3 col-md-4 col-lg-3 col-sm-6 col-xs-12 d-flex align-items-center justify-content-center">
                        <div class="card" style="width: 18rem;">
                            <img src="<%- data.image %>" alt="" class="card-img-top" style="height: 160px;">
                            <div class="card-body">
                                <h5 class="card-title"><%- data.title %></h5>
                                <p class="card-text"><%- data.description %></p>
                                <a href="" class="btn btn-primary">Checkout</a>
                            </div>
                        </div>
                    </div>
                    <%})%>

                        <!-- <div
                            class="col col-12 col-3 col-md-4 col-lg-3 col-sm-6 col-xs-12 d-flex align-items-center justify-content-center">
                            
                                <a href="" class="card d-flex align-items-center justify-content-center" style="width: 18rem;height:363px">
                                    <img src="https://cdn-icons-png.flaticon.com/512/992/992482.png" alt="add" style="width: 80%;height:70%">
                                </a>
                        
                        </div> -->

            </div>
        </div>
    </main>

    <%- include('./partials/footer.ejs') %>